body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: row;
}

h2{
  text-align: center;
}
#sidebar {
  width: 100%; 
  background-color: #f1f1f1;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#sidebar button {
  display: block;
  margin-bottom: 10px;
  width: 90%; 
  padding: 0.8rem; 
  background-color: #00a7b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1rem; 
}

#sidebar button:hover {
  background-color: #00a7b3;
  transform: translateY(-5px); 
}

@media (min-width: 240px) {
  #sidebar {
    width: 250px; 
    position: static; 
    height: auto; 
  }

  #sidebar button {
    padding: 0.8rem; 
    font-size: 1.2rem; 
}
}

@media (min-width: 1024px) {
  #sidebar {
    width: 300px; 
    padding: 1.5rem; 
  }

  #sidebar button {
    padding: 1rem; 
    font-size: 1.2rem; 
  }
}

main {
  flex: 1;
  padding: 1rem;
}

#donor-name {
  flex-wrap: nowrap;
}

#donor-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
  gap: 1.5rem;
}

#donor-list li {
  background: #f9f9f9; 
  padding: 1.5rem; 
  border-radius: 10px; 
  display: flex;
  align-items: center; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s; 
}

#donor-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

#donor-list img {
  border-radius: 50%;
  margin-right: 1.5rem;
  width: 80px; 
  height: 80px;
  object-fit: cover; 
}

.donor-info {
  line-height: 1.5;
}

.donor-info strong {
  font-size: 1.1rem;
  color: #333; 
}

.donor-info span {
  font-size: 0.95rem;
  color: #677767; 

.donor-info span strong {
  color: #333; 
}

@media (max-width: 768px) {
  #donor-list {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); 
    padding: 0.8rem;
  }

  #donor-list li {
    padding: 2rem; 
  }

  #donor-list img {
    width: 60px; 
    height: 60px;
  }
}
}